* { 
    margin: 0; padding: 0; 
}
html {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    width: 100%;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #111;
}

/*h2 - bg-dark color white */
h2 {
    font-size: 34px;
    font-weight: 700;
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 54px;
    height: 54px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0 25px;
}

/*h3 - color dark */
h3 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #111;
    text-transform: uppercase;
    line-height: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0 25px;
}
/*h4 - color white */
h4 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0 25px;
}
h5 {
    font-size: 24px;
    display: inline-block;
    font-family: 'Miriad Pro', sans-serif;
    color: #111;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0 20px;
    background-color: #FFFF00;
}
h6 {
    display: inline-block;
    font-family: 'Miriad Pro', sans-serif;
    color: #111;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0 20px;
    font-size: 32px;
    background-color: #fff;
}
/*===========================header=============================*/
/*.logoText::before{
    content: url(../img/headerLogo.png);
}*/
header section {
    min-height: 140px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.logo img{
    height: 64px;
    width: auto;
    margin-right: 15px;
}
.logo{
    display: flex;
    flex-direction: row;
    margin-left: 22px;
}
.logoText{
    display: flex;
    flex-direction: column;
    white-space: pre;
}
.logoText a {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.logoText p{
    font-size: 22px;
}
.call{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 22px;
}
.numberHeader {
    font-size: 44px;
    color: #111;
}
.callMy {
    font-size: 23px;
    color: rgb(53, 167, 233);
    text-decoration: underline;
    text-transform: uppercase;
    font-family: "Myriad Pro", sans-serif;
}
.callMy:hover{
    color: #FFD000;
    transition: .5s;
}
/*=========================== /header =============================*/

/*=========================== order =============================*/
.order{
    background: url(../img/orderBG.jpg) no-repeat center;
    background-size: cover; 
}
.orderContent{
    display: flex;
    flex-direction: column;
    min-height: 490px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
h2 {
    margin: 15px auto 0 ;
    width: 800px;
    white-space: pre;
    text-align: center;
}
.mainOrderContent{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 110px; 
    left: 100px;
    width: 90%;
}
.advantages{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 155px;
    text-align: center;
    background: rgb(196, 196, 196, .8);
    border-radius: 15px;
    margin: 50px 50px 0 350px;
    z-index: 3;
    top: -80px;
    left: -80px;
    position: absolute;
}
.photoMan img{
    z-index: 2;
    width: 465px;
    height: 475px;
    width: 100%;
    height: auto;
}
.advantagesContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px dotted #D7270B;
    width: 330px;
    height: 140px;
    border-radius: 15px;
}
.advantagesContent span{
    background-color: #FFCB00;
    padding: 2px;
}
.advantagesContent p {
    font-family: "Myriad Pro", sans-serif;
    font-size: 19px;
    margin: 5px 0;
}
.cause {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 200px ; 
}
.cause a{
    font-family: "Myriad Pro", sans-serif;
    display: block;
    color: 111;
    padding: 20px 25px;
    background-color: #FFCB00;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 18px;
    width: 240px;
    white-space: pre;
    text-align: center;
    margin-top: 20px;
}
.button{
    box-shadow: 0 6px 1px #EA7F01, 0px 14px 15.48px 2.52px rgba(2, 4, 7, 0.33);
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 290px;
    margin-top: 20px;
}
.input input{
    margin: 10px 0;
    height: 42px;
    background-color: rgba(0, 0, 0, .3);
    border: 2px solid #7B7D7F;
    color: #fff;  
}
input::placeholder {
    color: #fff; 
}
.name {
    background: url(../img/iconMan.png) no-repeat 12px;
    padding-left:45px;
}
.tel {
    background: url(../img/iconTel.png) no-repeat 12px;
    padding-left:45px;
}
.cause::before{
    content: url(../img/arrow.png);
}
/*=========================== /order =============================*/

/*=========================== numeral =============================*/
.numeral{
    max-width: 1200px;
    margin: 0 auto;
}
.eTimer{
    margin-left: 180px;
}
.numeral h3{
    margin: 80px auto 80px;
}
.upperParagraph{
    text-transform: uppercase;
    background-color: #FFCB00;
    padding: 2px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 32px;
    width: 90px;
}
.description{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
}
.numeralContent{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 65px;
}
.numeralContent div{
    width: 20%;
    height: 130px;
    margin-top: 20px;
}
.oterParagraph{
    border-left: 2px dotted #777;
}

#lastParagraph{
    text-align: center;
    white-space: wrap;
    width: 100%;
    margin: 0 auto;
}

/*=========================== /numeral ============================*/
/*=========================== clients =============================*/
.clients{
    background: url(../img/clients.jpg) no-repeat center;
    background-size: cover;
    min-height: 630px;
}
.clientsConteiner{
    margin: 0 auto
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.clients h4{
    padding-top: 30px;
}
.clientsContent{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    flex-wrap: wrap; 
    width: 80%;
    margin: 0 auto;
}
.clientsContent div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    width: 330px;
}
.clientsContent p{
    width: 60%;
    margin-left: 20px;
    font-size: 16px;
}
.consultation {
    margin: 100px auto 0;
}
.consultation a{
    font-family: "Myriad Pro", sans-serif;
    color: 111;
    padding: 20px 25px;
    background-color: #FFCB00;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 18px;
    width: 240px;
    white-space: pre;
    box-shadow: 0 6px 1px #EA7F01, 0px 14px 15.48px 2.52px rgba(2, 4, 7, 0.33);
}

/*=========================== /clients =============================*/
/*=========================== servises =============================*/
.servises{
    max-width: 1200px;
    margin: 0 auto;
}
.servisesContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.allServises{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servisesHead{
    text-align: center;
}
.servisesHead h3{
    margin: 30px 0 40px 0;
}
.servisesHead h6{

    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 0 40px 0;
    background-color: #fff;
}
.firstServis{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}
.secondServis{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.servisesText{
    flex-grow: 1;
    margin: 0 0 0 80px;
}
.servisesText h5{
    margin: 0 0 30px 0;
}
.servisesText ul li{
    list-style-type: none;
    margin: 20px 0 0 0;
}
.servisesText p{
    display: inline;
    margin: 0 0 0 20px;
    font-size: 18px;
    color: #777;
}
.complex{
    width: 100%;
    background: url(../img/servisIcon.png) no-repeat center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.complexContent{
    margin-left: 50px;
}
.complex h5{
    position: static;
    text-align: left;
    line-height: 24px;
    height: 35px;
    padding: 0 5px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: semi-condensed;
    font-family: 'Miriad Pro', sans-serif;
    color: #111;
    text-transform: uppercase;
    background-color: #FFCB00;
    white-space: pre;
    display: inline;
}
/*=========================== /servises =============================*/

/*=========================== physical =============================*/
.physical{
    background: url(../img/physicalBG.jpg) no-repeat center;
    background-size: cover;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.physicalContent{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}
.physicalContent img{
    height: 254px;
    width: 475px;
    align-self: flex-end;
}
.physicalButton{
    font-family: "Myriad Pro", sans-serif;
    color: 111;
    padding: 20px 25px;
    background-color: #FFCB00;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 18px;
    width: 200px;
    white-space: pre;
    box-shadow: 0 6px 1px #EA7F01, 0px 14px 15.48px 2.52px rgba(2, 4, 7, 0.33);
    display: block;
    margin-bottom: 50px;
    margin-right: 30px;
}
.physicalText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.physicalText h3{
    width: 60%;
    white-space: pre-line;
    text-align: left;
    font-size: 32px;
    line-height: 40px;
    display: block;
    height: 160px;
    margin-bottom: 30px;
}
/*=========================== /physical =============================*/

/*=========================== orderWork =============================*/
.orderWork{
    background-color: #203843;
}
.orderWorkContent{
    min-height: 510px;
    margin: 0 auto;
    max-width: 1200px;
    background: url(../img/orderWorkBG.png) no-repeat left;
}
.orderWorkAllContent{
    margin: 0 0 0 90px;
    width: 70%;
    padding-top: 10px;
}
.orderWorkContent h2 {
    width: 450px;
    margin: 10px auto;
}
.textWork{
    margin: 0 auto ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.advantagesWork{
    margin: 0 10px 0 0 ;
}
.advantagesWorkParagraphUppercase{
    background-color: #FFCB00;
    padding: 2px;
    color: #111;
    display: inline-block;
    margin: 25px 0 0 0;
    font-weight: bold;
}
.advantagesWorkParagraph {
    font-family: "Myriad Pro", sans-serif;
    font-size: 19px;
    margin: 5px 0 0 0;
    color: #fff;
}
.causeWork {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Myriad Pro", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 ; 
}
.causeWork a{
    font-family: "Myriad Pro", sans-serif;
    display: block;
    color: 111;
    padding: 20px 25px;
    background-color: #FFCB00;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 18px;
    width: 240px;
    white-space: pre;
    text-align: center;
    margin-top: 20px;
}
.button{
    box-shadow: 0 6px 1px #EA7F01, 0px 14px 15.48px 2.52px rgba(2, 4, 7, 0.33);
    font-weight: bold;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 290px;
    margin-top: 20px;
}
.input input{
    margin: 10px 0;
    height: 42px;
    background-color: rgba(0, 0, 0, .3);
    border: 2px solid #7B7D7F;
    color: #fff;  
}
input::placeholder {
    color: #fff; 
}
.name {
    background: url(../img/iconMan.png) no-repeat 12px;
    padding-left:45px;
}
.tel {
    background: url(../img/iconTel.png) no-repeat 12px;
    padding-left:45px;
}
.eTimer2{
    margin: 50px auto 0;
}

/*=========================== /orderWork =============================*/

/*=========================== circle =============================*/
.circle{
    background: url(../img/circleBG.jpg) no-repeat center;
    background-size: cover;
    min-height: 630px;
}
.circleContent{
    min-height: 630px;
    background: url(../img/circle.png) no-repeat center;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circleButton{
    font-family: "Myriad Pro", sans-serif;
    color: 111;
    padding: 15px 25px;
    background-color: #FFCB00;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    width: 180px;
    white-space: pre;
    box-shadow: 0 6px 1px #EA7F01, 0px 14px 15.48px 2.52px rgba(2, 4, 7, 0.33);
    display: block;
    text-align: center;
    top: 40px;
    position: relative;
}
.circle h3{
    font-size: 47px;
    color: #fff;
    width: 250px;
    height: 100%;
    line-height: 50px;
    padding: 0;
    display: inline-block;
    position: relative;
    bottom: 70px;
}
.circle h3 span{
    background-color: #00A1F2;
    padding: 0 10px;
}
.circleTop, .circleLeft, .circleRight, .circleBottom{
    position: relative;
    display: inline-block;
    font-weight: bold;
}
.circleTop{
    top: -150px;
    left: 120px;
    width: 200px;
}
.circleLeft{
    left: -320px;
    bottom: -30px;
    width: 200px;
    text-align: right;
}
.circleRight{
    right: -300px;
    top: 0px;
    width: 160px;
}
.circleBottom{
    text-align: right;
    bottom: -190px;
    left: -120px;
    width: 180px;
}
/*=========================== /circle =============================*/
/*=========================== example =============================*/
.example{
    background-color: #fff;
}
.exampleContent{
    max-width: 1200px;
    margin: 0 auto;
}
.exampleGallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.exampleGallery div{
    margin: 20px 10px;
}
.exampleGallery p{
    margin: 0 auto;
    width: 300px;
    white-space: pre-line;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
/*=========================== /example =============================*/

/*=========================== review =============================*/

.reviewContent{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.reviewBlock{
    margin: 0 auto;
}
.reviewContent h3{
    margin: 60px auto;
}
.reviewContent h6{
    margin: 10px auto;
    color: #224f8e;
    text-transform: none;
    font-size: 24px;
    padding: 0;
    font-family: "Myriad Pro", sans-serif;
}
.reviewHeader{
    display: flex;
    margin-left: 50px;
}
.reviewHeader img{
    width: 86px;
    height: 86px;
}
.reviewHeaderDescriptionText{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 30px;
}
.reviewName{
    font-size: 16px;
    font-weight: bold;
}
.reviewDescription{
    font-size: 16px;
    font-weight: bold;
    color: #717171;
}
.reviewText{
    max-width: 850px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.reviewTextConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}
.reviewTextConteiner::before{
    content: url(../img/numeralBefore.png);
}
.reviewTextConteiner::after{
    content: url(../img/numeralAfter.png);
}

/*=========================== /review =============================*/

/*=========================== footer =============================*/
footer{
    background: url(../img/footerBG.jpg) no-repeat center;
    background-size: cover;
}
.footerContent{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    font-size: 31px;
    color: #fff;
    background-color: none;
    max-width: 700px;
    text-align: center;
    margin: 50px auto 30px;
}
.number{
    color: #4798e3;
    font-size: 50px;
}
.consultation{
    margin: 50px auto;
    font-weight: bold;
}
.author{
    color: #4798e3;
    font-size: 18px;
    margin-right: 60%;
}
/*=========================== /footer =============================*/


/*=========================== adaptive =============================*/
/* Large Devices, Desctop */
    @media only screen and (max-width : 1024px){
        .mainOrderContent{
            left: 40px;
        }    
        .advantages{
            top: -80px;
            left: -120px;
            position: absolute;
        }
        .cause {
            margin: 0 0 0 140px ; 
        }
        .eTimer{
            margin-left: 120px;
        }

        .clientsConteiner{
            margin: 0 auto
            max-width: 1000px;
        }
        .clients h4{
            padding-top: 20px;
            font-size: 44px;
        }
        .clientsContent{
            width: 100%;
        }
        .clientsContent div{
            margin-top: 60px;
            width: 300px;
        }
        .physicalText{
            width: 50%;
        }
        .physicalButton{
            margin-right: 50px;
        }


        .orderWorkAllContent{
            margin: 0 0 0 150px;
            width: 70%;
            padding-top: 10px;
        }
        .textWork{
            flex-wrap: wrap;
        }


    }
    @media only screen and (max-width : 977px){
        .mainOrderContent{
            left: 20px;
        }    
        .advantages{
            top: -150px;
            left: -100px;
        }
        .cause {
            margin: 50px 0 0 110px ; 
        }
        .physicalText{
            width: 80%;
        }
        .physicalButton{
            margin-right: 50px;
        }
        .physicalText h3{
            width: 90%;
        }


        .exampleContent h3{
            margin-bottom: 50px;
        }
        
    }

/* Small Devices, Tablets */
@media only screen and (max-width : 830px){

    header section{
        flex-direction: column;
    }
    .logo {
        margin-top: 10px;
    }
    .call {
        padding-top: 20px;
        align-items: center;
    }
    .callMy{
        padding-top: 10px;
        margin-bottom: 15px;
    }  
    .cause::before{
        display: none;
    }
    .cause {
        margin: 50px 0 0 20px ; 
    }
    .orderContent h2{
        font-size: 28px;
        width: 650px;
    }
    .advantagesContent p{
        font-size: 16px;
    }
    .advantagesContent{
        width: 320px;
        height: 100px;
    }
    .advantages{
        width: 330px;
        height: 110px;
        border-radius: 15px;
        top: -145px;
        left: -150px;
    }
    .mainOrderContent{
        left: 20px;
        top: 120px; 
    }

    .servisesHead h3{
        margin: 30px 0 30px 0;
    }
    .servisesText{
        margin: 0 0 0 20px;
    }
    .servisesText h5{
        font-size: 23px;
        margin: 0 0 20px 0;
    }
    .servisesText ul li{
        margin: 15px 0 0 0;
    }
    .servisesText p{
        margin: 0 0 0 10px;
    }
    .ServisIMG {
        width: 50%;
    }
    .complex{
        height: 240px;
    }

    .orderWorkAllContent{
        margin: 0 0 0 0px;
        width: 100%;
        padding-top: 30px;
    }
    .orderWorkContent{
        background: none;
        width: 100%;
    }

}

@media only screen and (max-width : 768px){
   .eTimer{
        margin-left: 50px;
        margin-top: -4px;
    }
    .upperParagraph{
    font-size: 24px;
    }
    .description{
        font-size: 12px;
    }
    .clientsConteiner{
        margin: 0 auto
        max-width: 1000px;
    }
    .clients h4{
        padding-top: 20px;
        font-size: 32px;
    }
    .clientsContent{
        width: 100%;
    }
    .clientsContent div{
        margin-top: 20px;
        width: 300px;
    }
    .consultation {
        margin: 50px auto 0;
    }

    .servisesHead h3{
        margin: 30px 0 30px 0;
    }
    .servisesText{
        margin: 0 0 0 20px;
    }
    .servisesText h5{
        font-size: 23px;
        margin: 0 0 20px 0;
    }
    .servisesText ul li{
        margin: 15px 0 0 0;
    }
    .servisesText p{
        margin: 0 0 0 10px;
    }
    .ServisIMG {
        width: 50%;
    }
    .complex{
        height: 240px;
    }

    .physicalContent img{
        display: none;
    }


    .physicalButton{
        text-align: center;
        margin: 0 auto 50px;
    }
    .physicalText{
        margin: 0 auto;
        width: 90%;
    }
    .physicalText h3{
        width: 100%;
        text-align: center;
        line-height: 50px;
    }
    .eTimer2 {
        margin: 25px auto 0 ;
    }

    .exampleContent h3{
        margin-bottom: 120px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){

    .logoText a {
    font-size: 24px;
    }
    .logoText p{
    font-size: 16px;
    }
    .logo {
        margin: 5px;
    }
    .logo img{
        margin-right: 3px;
    }
    .numberHeader{
        font-size: 28px;
    }

    .orderContent h2{
        font-size: 22px;
        width: 280px;
        white-space: normal;
        line-height: 30px;
        padding: 10px 0 ;
        margin-top: 30px;
    }
    .orderContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 480px;
        width: 100%;
        margin: 0 auto;
        min-height: 600px;
    }
    .mainOrderContent{
        display: flex;
        flex-direction: column;
        position: static;
        top: 0px; 
        left: 0px;
        width: 90%;
        margin-top: 30px;
    }
    .advantages{
        width: 300px;
        height: 155px;
        border-radius: 15px;
        position: static;
        margin: 10px auto 0;
        top: auto;
        left: auto;
        text-align: center;
    }
    .photoMan img{
        display: none;
    }
    .photoMan{
        width: 100%;
        margin: 0;
        padding: 0;display: flex;
    }
    .advantagesContent{
        width: 275px;
        height: 140px;
    }
    .advantagesContent p {
        font-size: 18px;
        margin: 10px 0;
    }
    .cause {
        font-size: 30px;
        margin: 30px auto 0; 
    }
    .cause p{
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }
    .input{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 290px;
        margin-top: 10px;
    }
    .input input{
        margin: 10px 0;
        height: 42px;
        background-color: rgba(0, 0, 0, .3);
        border: 2px solid #7B7D7F;
        color: #fff;  
    }
    .button{
        margin-top: 10px;
    }
    .numeralContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        margin-bottom: 65px;
        margin-top: 100px;
    }
    .numeralContent div{
        width: 60%;
        border-left: none;
        height: 80px;
        margin: 0 auto;
    }
    .oterParagraph{
        border-top: 1px dotted #777;
        padding-top: 30px;
    }
    .numeralContent img{
        display: none;
    }
    .eTimer{
        margin-left: 0px;
        margin-top: 0px;
    }
    h3{
        font-size: 42px;
        line-height: 40px;
    }
    .clients{
        height: 1150px;
    }
    .clients h4{
        font-size: 32px;
        line-height: 35px;
        padding: 30px 0 0 0;
    }
    .clientsContent{
        margin: 30px auto 0;
        box-sizing: border-box;
    }
    .clientsContent p{
        margin-left: 10px;

    }
    .clientsContent div{
        margin-top: 30px;
        width: 290px;
    }
    .consultation {
        margin: 60px auto 0;
    }


    .servisesHead h3{
        margin: 30px 0 20px 0;
        font-size: 32px;
        padding: 0;
    }
    .servisesText{
        margin: 0 auto;
    }
    .servises h5{
        font-size: 20px;
        margin: 30px auto;   
    }
    .servises h6{
        padding: 0;
        font-size: 28px;
    }
    .servisesText ul li{
        margin: 10px 0 0 0;
    }
    .ServisIMG {
        display: none;
    }
    .complex{
        background: none;
        height: 140px;
    }
    .complexContent{
        margin: 0;
     }
    .complex h5{
        position: static;
        text-align: center;
        white-space: normal;
        display: block;
        width: 100%;
        white-space: pre-wrap;
        height: 30px;
        line-height: 24px;
        padding: 0;
    }
    .complex span{
        background-color: #FFCB00;
    }

    .physicalButton{
        text-align: center;
        margin: 0 auto 50px;
    }
    .physicalText{
        margin: 0 auto;
        width: 90%;
    }
    .physicalText h3{
        width: 100%;
        text-align: center;
        line-height: 40px;
    }
    .physical h3{
        padding: 0;
    }
    .textWork{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .causeWork{
        margin-top: 40px;
    }
    .orderWorkContent{
        background: none;
        width: 100%;
    }
    .orderWorkAllContent h2{
        font-size: 22px;
        width: 300px;
        line-height: 25px;
        padding: 10px 0 ;
        height: 25px;
        margin: 0 auto;
    }
    .eTimer2 {
        margin: 0 auto;
        margin-top: 15px;
    }
    .circleContent{
        max-width: 480px;
    }


    .circle{
        height: 650px;
    }
    .circleContent{
        max-width: 300px;
        -webkit-background-size: contain;
        background-size: contain;
        margin-top: 0px;
    }

    .circleButton{
        top: 160px;
    }
    .circle h3{
        font-size: 36px;
        width: 250px;
        line-height: 40px;
        bottom: 360px;

    }
    .circleTop{
        top: -90px;
        left: 60px;
        width: 160px;
    }
    .circleLeft{
        left: -80px;
        bottom: 60px;
        width: 120px;
        text-align: left;
    }
    .circleRight{
        right: -70px;
        top: -25px;
        width: 160px;
        text-align: right;
    }
    .circleBottom{
        text-align: center;
        bottom: -145px;
        left: 0px;
        width: 180px;
    }
    .exampleContent h3{
        margin-top: 20px;
        margin-bottom: 80px;
        font-size: 32px;
    }


    .reviewContent h3{
        font-size: 36px;
        width: 320px;
        line-height: 40px;
        text-align: center;
        padding: 0;
        margin-bottom: 80px;
    }
    .reviewHeader{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .reviewHeaderDescriptionText{
        display: flex;
        flex-direction: column;
        margin: 0 auto 20px;
        text-align: center;
    }
    .reviewTextConteiner{
        margin-bottom: 80px;
    }
    .reviewTextConteiner::before{
        display: none;
    }
    .reviewTextConteiner::after{
       display: none;
    }

    footer p{
        font-size: 24px;
    }
    .author{
        color: #4798e3;
        font-size: 18px;
        margin-right: 150px;
    }
}
